<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paritals</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <img class="profile-img" src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg">
    <p>
        Way to Include little Snippet of CSS. Here we create two
        scss file one with underscore(_) and other one without.<br/>
        The Underscore file will be imported on the file which is without underscore.<br/>
        It is normally done as "@import is used to import another scss file"
    </p>
</body>
</html>